---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="error">
    <h1 class="text-4xl font-bold">well, this is probably not what you're looking for...</h1>
    <p class="flex justify-center pt-2 text-md text-center">
        <Image src="https://i.pinimg.com/originals/6c/90/28/6c90288d7e10d46d18895f17f420a92c.gif" alt="black cat typing furiously on a computer keyboard" width={513} height={432}></Image>
    </p>
    <h1 class="text-4xl font-bold pt-2">try going to the homepage</h1>
</BaseLayout>