---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="home">
  <h1 class="text-4xl font-bold">hi! 👋</h1>
  <p class="text-md">
    thanks for visiting my website!
    <br />
     here, you will find my blog posts that I post <i
      >sometimes when I feel like it</i
    > (that's my way of saying <i>not often</i>), random projects that I'm
    working on, and information about my <a
      href="/smp"
      class="underline underline-offset-4 decoration-themeColor transition-colors"
    >
      minecraft survival server
    </a>
  </p>
</BaseLayout>
