---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="home">
  <h1 class="text-4xl font-bold">hi! 👋</h1>
  <p class="text-md">thanks for visiting my website! it's quite empty right now, but i'll add content soon!</p>
</BaseLayout>
