---
import Link from "./Link.astro";
---

<header class="pb-2 text-center">
  <h1 transition:persist class="text-2xl">gurkan's website</h1>
  <div transition:name="links" class="flex flex-row justify-center gap-2">
    <Link href="/">home</Link>
    <Link href="/smp">smp</Link>
  </div>
</header>
