---
import Link from "./Link.astro";

export type Link = {
  title: string;
  href: string;
};

type Props = {
  links: Link[];
};

const { links } = Astro.props;
---

<header class="pb-2 text-center">
  <div class="flex flex-row justify-center gap-2">
    {links.map((link) => <Link href={link.href}>{link.title}</Link>)}
  </div>
</header>
