---
import SMPLayout from "../../layouts/SMPLayout.astro";
---

<SMPLayout title="home">
    <h1 class="text-4xl font-bold">minecraft smp</h1>
    <p class="text-md">
        in case you didn't know, i've got a minecraft smp!
        <br />
         if you want to join, the ip is <code>java.gurkz.me</code> (bedrock
        support is coming soon hopefully)
        <br />
         discord server is soon coming
    </p>
</SMPLayout>
