---
import SMPLayout from "../../layouts/SMPLayout.astro";
---

<SMPLayout title="special players">
    <h1 class="text-4xl font-bold">special players</h1>
    <p class="text-md">thanks to these players</p>
    <ul>
        <li>
            TheObdurate (@themightyobdurate) and Camera642 (@hihi_8528) for
            being the first players
        </li>
    </ul>
</SMPLayout>
