---
import Link from "../components/Link.astro";
import ProjectMeta from "../components/ProjectMeta.astro";
import BaseLayout from "./BaseLayout.astro";
type Props = {
    title: string;
    description: string;
};

const { title, description } = Astro.props;
const slug = Astro.url.pathname.replace("/projects/", "");
---

<BaseLayout title={` projects - ${title}`}>
    <header class="pb-2 text-center">
        <div
            transition:name="back-to-projects"
            class="flex flex-row justify-center gap-2"
        >
            <Link href="/projects">go back</Link>
        </div>
    </header>
    <ProjectMeta title={title} description={description} slug={slug} />
    <slot />
</BaseLayout>
